<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Products List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    {% load static %}
    <a href="/create">Create</a </div>
    <div class="main">

        {% for data in dataset %}
        <a href="/{{ data.id }}">
            <figure class="snip1418"><img src="{{data.image_url}}" alt="sample92" />

                <figcaption>
                    <h3>
                        {{data.name}}</h3>
                    <p>${{data.price}} </p>
                    <div class="price">
                        {{data.stock}}
                    </div>
                </figcaption>
            </figure>
        </a>

        {% endfor %}
        
    </div>

</body>

</html>